body {
  padding: 0;
  color: #000;
}


h1 {
  line-height: 1.4;
}
p{
  color: #8f8f8f;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
/* Home  */

.background-home {
    background-color: #43d8c9;
}

.container-fluid{
    padding: 3% 15% 6%;
}
/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {

  font-size: 3rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}
.nav-item {
  padding: 0 18px;

}

.nav-link {
  font-family: 'Open Sans', sans-serif;
   font-size: 1.2rem;
}


/* Socail Button  */

.social-button {
   margin: 5% 3% 5% 0;
}

/* Title tag lines */

.title-tag-line {
  font-size: 4rem;
  line-height: 1.3;
  font-family: 'Dancing Script', cursive;

}
.icons-title {
  margin-right: .3rem;
}

.title-img{
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
  left: 20%;
}


/* Section Quotes */

#section-quotes{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  /* z-index: 1; */
}
/*
.quotes-container {
  padding: 7% 15%;
  background-color: #fff;
} */

.quotes-title{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: #16817a;
}

.quotes-title:hover{
  color: #43d8c9;
}
.quotes-box{
  text-align: center;
  padding: 5%;
 font-family: 'Ubuntu', sans-serif;
 font-weight: bold;
}

.icon-quotes {
  color: #16817a;
}

.icon-quotes:hover {
  color: #43d8c9;
}


/* Bio Section */


#bio-section {
  padding: 7% 15%;
  background-color:#16817a;
}

.bio-lines {
  text-align: center;
  padding: 3%;
  line-height: 1.6;
  font-weight: bold;
  color: rgba(0,0,0,0.9);
}
.p-tag-bio {
   color: rgba(0,0,0,0.5);
 }

.bio-icon {
  margin-bottom: 1.2rem;
}

.bio-icon:hover{
  color:  rgba(0, 0, 0, 0.5);
}

/*Footer section*/
#footer {
  padding: 7% 15%;
  text-align: center;
  background-color: white;
}
.social-icon-footer {
  margin: 20px 10px;
  color: #000;
}
.social-icon-footer:hover {
    color: #16817a;
}

.copyright-font:hover{
    color: #000;
}
/*Media Query - title image */

@media (max-width: 992px) {
.background-home {
    text-align: center;
}

.title-img{
  width: 70%;
  position: static;
  transform: rotate(0deg);
  margin-left: 15%;
  }

.title-tag-line {
  font-size: 3rem;
  text-align: center;
 }
}
